@font-face {
    font-family: Anurati-Regular;
    src: url("../fonts/Anurati-Regular.otf");
}

@font-face {
    font-family: BebasNeue;
    src: url("../fonts/BebasNeue.otf");
}

@font-face {
    font-family: Montserrat-Medium;
    src: url("../fonts/Montserrat-Medium.otf");
}

@font-face {
    font-family: Montserrat-Regular;
    src: url("../fonts/Montserrat-Regular.otf");
}

@font-face {
    font-family: Montserrat-Light;
    src: url("../fonts/Montserrat-Light.otf");
}

section {
    background: url('http://placehold.it/1920x1080') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 80vh;
}

#section-home {
    background: url("../img/section/home-background.png") no-repeat;
    background-size: 100%;
    height: 80vh;
}

#section-tickets {
    background: url("../img/section/billeterie-background.png") no-repeat center center;
    background-size: 100%;
    height: 80vh;
}

#section-artist {
    background: url("../img/section/artiste-background.png") no-repeat center center;
    background-size: 100%;
    height: 80vh;
}

h1 {
    margin: 0;
}

.artist-name {
    font-size: 90px;
    color: white;
    text-transform: uppercase;
    padding-top: 20px;
}

.section-title {
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    padding-left: 30px;
    padding-top: 30px;
    margin: 0;
}

.ticket-for-sale {
    color: white;
    font-size: 40px;
    text-transform: uppercase;
}

.ticket-sale-point-box {
    border: 2px solid white;
    height: 30vh;
}

.ticket-sale-point {
    text-transform: uppercase;
    color: white;
    font-size: 60px;
    padding-top: 7vh;
}

.text-home-page {
    color: #282945;
    text-transform: uppercase;
}