#home {
    background-image: url("../img/header.jpg");
}

#artist {
    background-color: rgb(12, 9, 29);
}

#tickets {
    background-image: url("../img/billeterie-background.png");
}

#animations {
    background-image: url("../img/animations-background.png");
    width: 100%;
    height: auto;
}

#location {
    background-image: none;    
    background-color: rgb(204, 206, 207);
    height: 90%;
}

#contact {
    background-image: url("../img/contact-background.png");
}

#gala-title {
    font-family: Anurati-Regular, sans-serif;
    color: #282945;
    text-transform: uppercase;
    font-size: 200px;
}

#gala-subtitle {
    font-family: Montserrat-Light, sans-serif;
    color: #282945;
    text-transform: uppercase;
    font-size: 30px;
}

#gala-date {
    font-family: Montserrat-Light, sans-serif;
    color: #282945;
    text-transform: uppercase;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 40%;
    margin-bottom: 40px;
}

.artist-name {
    font-family: Montserrat-Medium, sans-serif;
    font-size: 90px;
    text-transform: uppercase;
}

.header-title, .header-title-dark {
    background: url("../img/icons/bar.png") no-repeat left;
    font-family: Montserrat-Light, sans-serif;
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    position: absolute;
    left: 30px;
    top: 30px;
    padding-left: 80px;
}

.header-title-dark {
    background: url("../img/icons/bar-dark.png") no-repeat left;
    color: #282945;
}

#artists-name {
    position: absolute;
    top: 50%;
}

#canvas {
    width: 100%;
    min-height: auto;
}

#header-title-tickets {
    background: url("../img/icons/bar-underline.png") no-repeat bottom center;
    font-family: Montserrat-Light, sans-serif;
    font-size: 60px;
    color: white;
    text-transform: uppercase;
    padding-top: 40px;
    padding-bottom: 20px;
}

.animation {
    color: #282945;
    width: 250px;
    text-align: left;
    position: absolute;
    top: -200px;
}

.animation h1 {
    font-family: BebasNeue, sans-serif;
    font-size: 90px;
}

.animation h2 {
    font-family: Montserrat-Regular, sans-serif;
    font-size: 50px;
    background: url("../img/icons/animation-bar.png") no-repeat bottom center;
    padding-bottom: 30px;
}

.animation p {
    font-family: Montserrat-Light, sans-serif;
    font-size: 13px;
    margin-top: 30px;
    max-width: 200px;
}

#champagne, #massage {
    opacity: 0;
}

#champagne {
    right: 40%;
}

#massage {
    right: 20%;
}

#fireworks {
    right: 75%;
}

.ticket-sale-point {
    text-transform: uppercase;
    border: 2px solid white;
    font-size: 70px;
    font-family: BebasNeue, sans-serif;    
}

#header-title-location {
    background: url("../img/icons/bar-gray.png") no-repeat bottom center;
    font-family: BebasNeue, sans-serif;
    font-size: 50px;
    color: rgb(61, 61, 62);
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

#box-location {
    height: 90%;
}

.location-bold {
    font-family: Montserrat-Regular, sans-serif;
    font-size: 15px;
    color: rgb(61, 61, 62);
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 5px;
}

.location-regular {
    font-family: Montserrat-Light, sans-serif;
    font-size: 15px;
    color: rgb(79, 79, 81);
    text-align: left;
    margin: 0;
}

#maps-link {
    background: url("../img/icons/arrow-losange.png") no-repeat center center;
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

#contact-title {
    font-family: Montserrat-Medium, sans-serif;
    font-size: 60px;
    color: white;
    text-transform: uppercase;
    padding-top: 40px;
    padding-bottom: 20px;
}

#contact-help {
    font-family: Montserrat-Light, sans-serif;
    font-size: 25px;
    color: white;
    margin-bottom: 130px;
}

#contact-school {
    font-family: Montserrat-Medium, sans-serif;
    font-size: 23px;
    color: white;
    margin-bottom: 0;
}

.contact-info {
    font-family: Montserrat-Light, sans-serif;
    font-size: 23px;
    color: white;
    margin-bottom: 0;
    text-align: center;
}

#contact-box-email {
    padding-bottom: 30px;
    background: url("../img/icons/bar-long.png") no-repeat bottom center;    
    margin-top: 60px;
}

#contact-icon-location {
    background: url("../img/icons/icon-location.png") no-repeat center center;
}

#contact-icon-email {
    background: url("../img/icons/icon-email.png") no-repeat center center;
}

#box-icons {
    margin-top: 40px;
}

#contact-icon-facebook {
    background: url("../img/icons/icon-facebook.png") no-repeat center center;
    height: 50px;
}

#contact-icon-twitter {
    background: url("../img/icons/icon-twitter.png") no-repeat center center;
    height: 50px;
}

#contact-icon-instagram {
    background: url("../img/icons/icon-instagram.png") no-repeat center center;
    height: 50px;    
}

#footer {
    width: 100%;
    height: 50px;
    background-color: rgb(46, 47, 48);
    position: absolute;
    bottom: 0;
}

#footer-info {
    font-family: Montserrat-Light, sans-serif;
    font-size: 15px;
    color: white;
    height: 50px;
    margin-top: 13px;
}