#home {
    background-image: url("../img/home-background.png");
}

#artist {
    background-image: url("../img/artiste-background.png");
}

#tickets {
    background-image: url("../img/billeterie-background.png");
}

#gala-title {
    font-family: Anurati-Regular, sans-serif;
    color: #282945;
    text-transform: uppercase;
    font-size: 200px;
}

#gala-subtitle {
    font-family: Montserrat-Light, sans-serif;
    color: #282945;
    text-transform: uppercase;
    font-size: 30px;
}

#gala-date {
    font-family: Montserrat-Light, sans-serif;
    color: #282945;
    text-transform: uppercase;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 40%;
    margin-bottom: 40px;
}

.artist-name {
    font-family: Montserrat-Medium, sans-serif;
    font-size: 90px;
    text-transform: uppercase;
}

.header-title {
    background: url("../img/icons/bar.png") no-repeat left;
    font-family: Montserrat-Light, sans-serif;
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    position: absolute;
    left: 30px;
    top: 30px;
    padding-left: 80px;
}

#particles-js {
    padding-top: 150px;
}