@media (max-width: 768px) {
    #gala-title {
        font-size: 100px;
    }

    #gala-subtitle {
        font-size: 15px;
    }

    #gala-date {
        font-size: 13px;
        left: 30%;
        margin-bottom: 20px;
    }

    .artist-name {
        font-size: 40px;
    }

    .header-title, .header-title-dark {
        font-size: 20px;
    }

    #artists-name {
        position: absolute;
        top: 0;
    }

    #canvas {
        width: 100%;
        max-height: 500px;
        -webkit-background-size: cover;
        background-size: cover;
    }

    #header-title-tickets {
        font-size: 35px;
        padding-top: 25px;
        padding-bottom: 20px;
    }

    #animations {
        background-image: url("../img/animations-background-mobile.png");
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-color: rgb(206, 207, 208);
        height: 400px;
    }

    .animation {
        position: absolute;
        top: 60px;
        color: #282945;
        width: 100px;
        text-align: left;
    }

    .animation h1 {
        font-family: BebasNeue, sans-serif;
        font-size: 30px;
        margin: 0;
    }

    .animation h2 {
        font-family: Montserrat-Regular, sans-serif;
        font-size: 20px;
        background: url("../img/icons/animation-bar.png") no-repeat bottom center;
        padding-bottom: 10px;
    }

    .animation p {
        font-family: Montserrat-Light, sans-serif;
        font-size: 10px;
        margin-top: 10px;
        max-width: 100px;
    }

    #fireworks {
        right: 68%;
    }

    .location-bold, .location-regular {
        margin-left: 60px;
    }

    #maps {
        height: 20%;
    }

    #contact-title {
        font-size: 40px;
    }

    #contact-help {
        font-size: 18px;
        margin-bottom: 70px;
    }

    #contact-school {
        font-size: 17px;
    }
    
    .contact-info {
        font-size: 17px;
    }

    #footer-info {
        font-size: 10px;  
    }

    #change-text-location, #change-text-location-2 {
        background: url("../img/icons/arrow-losange-small.png") no-repeat center center;
        width: 50px;
        height: 50px;
        cursor: pointer;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }

    #contact-icon-twitter {
        margin-bottom: 50px;
    }

    #contact-icon-email {
        height: 40px;
    }

    #contact-icon-location {
        height: 40px;
    }
}